<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/Default/Index">Анкета</a>
            
            <ul class="nav">
                <li><a href="~/Default/Index">Оцени</a></li>
                <!-- fast hack here -->
                @if (HttpContext.Current.User.Identity.Name == "Ирина Шаркова")
                {
                    <li><a href="~/Default/Summary">Резултати</a></li>
                }
                else
                {
                    <li><a href="~/Default/Result" target="_blank">Виж оценката си</a></li>
                }
            </ul>

            <div class="nav pull-right">
                @if (User.Identity.IsAuthenticated) {
                    
                    <ul class="nav">
                        <li>
                            <h4>@User.Identity.Name</h4>
                        </li>
                        <li>
                            <a href="/Authentication/Logout">Излез</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
