@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<form>
    <div class="row offset3 span7 well">
        <strong>1. Ники Стоянов математик ли е?</strong>
        <select class="pull-right">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    <div class="row offset3 span7 well">
        <strong>2. Колко Мангусти има Шаши?</strong>
        <select class="pull-right">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    <div class="row offset3 span7 well">
        <strong>3. Ако ABCD е трапец, AB пресича циклоцентъра в точка О, а OB има за среда М,
            CD пресича QP в K, колко портокала има Камен в сока си?</strong>
        <select class="pull-right">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    
    <div class="row offset4 span6">
        <button class="btn btn-large btn-success pull-right">Прати</button>
    </div>
</form>